venv/
venv311/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
*.pt
*.bin
*.safetensors
*.ckpt
*.csv
# model files
sft_checkpoints/
*.safetensors
*.bin
*.pt

# python
__pycache__/
*.pyc
venv/
.venv/

# mac
.DS_Store
